<%- include('header') %>

<h2>
    New Category:
    <a href="javascript:history.back()"> <span> Back </span></a>
</h2>

<div>
<form action="" method="post">

    <label for="categoria">Category:</label>
    <input name="categoria" id="categoria" type="text"><br>

    <button type="submit">Save category</button>
</form>
</div>

<%- include('footer') %>