<%- include('header') %>

<h2>
    Nova Categoria:
    <a href="/admin/Categorias">Categorias</a>
</h2>

<div>
<form action="" method="post">

    <label for="categoria">Categoria:</label>
    <input name="categoria" id="categoria" type="text"><br>

    <button type="submit">Salvar categoria</button>
</form>
</div>

<%- include('footer') %>