<%- include('header') %>

<h2>
    Nova Vaga:
    <a href="javascript:history.back()"> <span> Back </span></a>
</h2>

<div>
<form action="" method="post">

    <label for="titulo">Title:</label>
    <input name="titulo" id="titulo" type="text"><br>

    <label for="descricao">Description:</label>
    <textarea name="descricao" id="decricao" cols="30" rows="10"></textarea><br>
    
    <label for="categoria">Category:</label>
    <select name="categoria" id="categoria">

        <% categorias.forEach(categoria =>{ %>
            <option value="<%= categoria.id %>"> <%- categoria.categoria %></option>
        <% }) %>
    </select><br>

    <button type="submit">Save role</button>
</form>
</div>

<%- include('footer') %>